{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content %}

<div class="container-fluid">

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-header">
          Group code:
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ group.code }}</h5>
        </div>
      </div>
    </div>


    <div class="col-md-3 offset-md-1 d-flex justify-content-end align-items-center">
      <div class="button-container">
        {% for user in users %}

        <div class="sss">
          <form action="{{ url_for('panel.kick_out_of_group') }}" method="POST">
            <input type="hidden" name="member_id" value="{{ user.id }}">
            <input type="hidden" name="some_id" value="{{ group.id }}">
            <button type="submit">Kick</button>
          </form>
          <form action="{{ url_for('panel.make_admin') }}" method="POST">
            <input type="hidden" name="member_id" value="{{ user.id }}">
            <input type="hidden" name="some_id" value="{{ group.id }}">
            <button type="submit">Admin</button>
          </form>
        </div>
        <div class="button-wrapper">
          <button class="lista_osob"><a class="nav-link"
              href="{% if user.id == current_user.id %}{{ url_for('auth.profile') }}{% else %}{{ url_for('auth.fake_profile', user_id=user.id) }}{% endif %}">
              {{ user.nickname }}</a></button>
        </div>
        {% endfor %}
      </div>

    </div>


  </div>
</div>
{% endblock %}