{% extends "base.html" %} {% block title %}Callendary Home{% endblock %}
{% block content %}


<!--
   ####################################################
   M A I N C O N T E N T
   ####################################################
   -->
{% if user.is_authenticated %}
<div class="container">

	<div class="row">
		<div class="col-md-4">
			<span>Title</span>
		</div>
		<div class="col-md-4">
			<span>Date</span>
		</div>
		<div class="col-md-4">
			<span>Subtask</span>
		</div>

	</div>
	<hr>
	{% for event in personalTop5 %}


	<div class="row">


		<div class="col-md-4">


			<h5>{{ event.title }}</h5>
			

				
			
		</div>
        <div class="col-md-4">
            <footer class="footer"> <small> {{ event.start.date() }}; {{ event.start.strftime("%H:%M") }} - {{
                event.end.date() }}; {{ event.end.strftime("%H:%M") }}</small> </footer>

        </div>
		<div class="col-md-4">
			<span>
				<div class="container-ul">
				<ul>
					{% for subtask in subtasks[event.id] %}
                        <div class="ul_subtask">
                        {{subtask.title }}
						</div>
              
					
					{% endfor %}
				</ul>
			</div>
			</span>
		</div>
        

	</div>


	{% endfor %}


	{% else %}
	<div class="col main">
		<h1 class="display-4">Welcome to Callendary!</h1>
		<p class="lead">Please login or sign up to access the website.</p>
	</div>
</div>
{% endif %}


<!--
    ####################################################
    F O O T E R
    ####################################################
    -->
<footer class="footer py-3">
	<div class="container-fluid">
	</div>
</footer>
</div>



{% endblock %}


{% block scripts %}

<script>


	function updateProgress(progressBarIndex, value) {
		var progressBars = document.querySelectorAll('.div_bar');
		if (progressBarIndex < progressBars.length) {
			var progressBar = progressBars[progressBarIndex].querySelector('.progress-bar');
			progressBar.style.width = value + '%';
			progressBar.setAttribute('aria-valuenow', value);
			progressBar.querySelector('span').textContent = value + '%';
		}
	}

	$(document).ready(function () {
		var isCompletedList = [];
		var eventIdList = [];

		$('.eventid_helper').each(function () {
			var tempId = $(this).data('eventid');
			eventIdList.push(tempId);
		});
		

		$('.is_completed').each(function () {
			var isCompleted = $(this).data('is');
			var checkboxEventId = $(this).data('event_id')
			isCompletedList.push([isCompleted, checkboxEventId]);
		});
		



		for (var i = 0; i < eventIdList.length; i++) {
			var counter = 0;
			var count_true = 0;
			var count_false = 0;

			for (var j = 0; j < isCompletedList.length; j++) {

				var pair = isCompletedList[j];

				if (pair[1] == eventIdList[i]) {
					counter++;
					if (pair[0].toString() === "True") {
						count_true++;
					}
					if (pair[0] === "False") {
						count_false++;
					}
				}
				else {
					continue;
				}
			}

			var mainButton = document.querySelector('.main_checkbox[data-event_id="' + eventIdList[i] + '"]');
			if (count_true == counter && counter != 0) {
				
			}
			else
			{
				mainButton.disabled = true;
			}

        	

			let value;
			value = (count_true / counter) * 100
			if (count_true == 0) {
				value = 0;
			}
			value = value.toFixed(2)

			var progressBarsList = document.querySelectorAll('.div_bar');
			for (var g = 0; g < progressBarsList.length; g++) {
				if (progressBarsList[g].dataset.ev_id == eventIdList[i]) {
					updateProgress(g, value);
				}
			}
			
		}
	});


	document.addEventListener('DOMContentLoaded', function () {

		var elements = document.querySelectorAll('.main_checkbox ');
		console.log(elements);

		for (var i = 0; i < elements.length; i++) {

			elements[i].addEventListener('click', function () {

				var ev_id = this.dataset.event_id;
				console.log(ev_id);
				var done = true;

				update_main_event_completion(ev_id, done);
				//location.reload();
			})
		}
		
	});



	document.addEventListener('DOMContentLoaded', function () {

		var elements = document.querySelectorAll('.sub_checkbox ');

		for (var i = 0; i < elements.length; i++) {

			elements[i].addEventListener('change', function () {
				var isChecked = this.checked;

				var subtaskId = this.dataset.sub_id;
				updateSubtask(subtaskId, isChecked);
				location.reload();
			})
			
		}
	});

	function updateSubtask(subtaskId, isChecked) {
		var xhr = new XMLHttpRequest();

		xhr.open('POST', '/update_subtask', true);
		xhr.setRequestHeader('Content-Type', 'application/json');

		xhr.onreadystatechange = function () {
			if (xhr.readyState === 4 && xhr.status === 200) {
				var response = JSON.parse(xhr.responseText);
				console.log(response.message);
			}
		};

		xhr.send(JSON.stringify({
			id: subtaskId,
			is_completed: isChecked
		}));

	}
	function update_main_event_completion(event_id, isDone) {
	 	var xhr = new XMLHttpRequest();

	 	xhr.open('POST', '/update_main_event_completion', true);
	 	xhr.setRequestHeader('Content-Type', 'application/json');

	 	xhr.onreadystatechange = function () {
	 		if (xhr.readyState === 4 && xhr.status === 200) {
	 			var response = JSON.parse(xhr.responseText);
	 			console.log(response.message);
	 		}
	 	};

	 	xhr.send(JSON.stringify({
	 		ev_id: event_id,
	 		is_done: isDone
	 	}));
		
	 }

	window.onload = function () {
		var checkboxes = document.querySelectorAll('.sub_checkbox');

		for (var i = 0; i < checkboxes.length; i++) {
			var checkbox = checkboxes[i];
			var isCompleted = checkbox.dataset.is_completed;

			if (isCompleted === "True") {
				checkbox.checked = true;
			}
		}
	};

</script>

{% endblock %}