@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}
.User_list{

  margin-top: 100px;
  text-align: center;
  padding: 35px;
  background-color: #55d6aa;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.flashes {
  list-style: none;
  padding: 0;
}

.error {
  color: red;
}

.success {
  color: green;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 700px;
  margin: auto;
}

.article-metadata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-title {
  margin-top: none;
  color: #444444;
  font-size: 20px;
}

.article-content {
  min-height: 100px;
  white-space: pre-line;
  max-width: 100%;
  overflow-wrap: break-word;
  font-size: 16px;
}
.button_space
{
  position: relative;
}

.task-headers {
  margin: 0;
  font-size: 1em;
  display: block;
}

.btn-delete {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #ffffff;
  border-style: solid;
  border-radius: 15px;
  width: 100px;
  height: 30px;
  position: absolute;
  right:    0;
  bottom:   0;
}

.btn-delete:hover {
  background-color: #c82333;
  border-color: #bd2130;
  color: #ffffff;
}